 *{
                margin: 0px;
                padding: 0px;
                border: 0px;
                background-color: black;
        
        }    
            
        a {
            color: white;
        }
        
        #changecolor {
	
            //background-color: #F26627;
        }
        
        #colorme{
            //background-color: #325D79;
        }
        
        #colorabout{
            //background-color: #9BD7D1;
        }
        
        #finalcolor {
	      //background-color: #F9A26C;
        }
        
        #boxcolor {
	       
        }
        
        p {
                color: white;
                font-size: 20px;
        }
        
        h1 {
                color: white;
        }
        
        #fontinc{
                font-size: 40px;
        }
        
        #fontincr{
                font-size: 40px;
        }